<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/emailConfirm.css">
</head>

<body>
    <section class="login-dark" style="height: 100vh;background: rgb(244,239,239);">
        <form method="post" style="height: 400px;" action='/private/reset/email'>
            <h6 class="text-center">Digite seu novo email</h6>
            <div class="illustration" style="height: 150px;">
                <svg style='color: #017bcd' width='80'height='80' xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512"><title>Mail Unread</title><path d="M320 96H88a40 40 0 00-40 40v240a40 40 0 0040 40h334.73a40 40 0 0040-40V239" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32"/><path fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="32" d="M112 160l144 112 87-65.67"/><circle cx="431.95" cy="128.05" r="47.95"/><path d="M432 192a63.95 63.95 0 1163.95-63.95A64 64 0 01432 192zm0-95.9a32 32 0 1031.95 32 32 32 0 00-31.95-32z"/></svg>
            </div>
            <div class="form-group"><input type="email" class="form-control" name="email"
                    placeholder="Ex: richard@piedpiper.com" minlength="5"  required
                    style="text-align: center;" /></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit">Enviar</button></div>
        </form>
    </section>
    <script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
</body>

</html>