<div class="row justify-content-center">
    <div class="col-lg-8">
        <div style="height: 100px;">
            <div class="row">
                <div class="col">
                    <div class="d-flex flex-row justify-content-start align-items-center" style="height: 100px;"><img
                            src="https://picsum.photos/150" style="width: 50px; height: 50px; border-radius: 50%;" />
                        <div style="width: 100%;height: 100px;">
                            <h6>{{this.author.username}}</h6>
                            <p>{{this.content}}</p>
                            <div class="d-flex flex-row justify-content-start" style="height: 25px;"><iframe src="https://www.facebook.com/plugins/like.php?
href=https%3A%2F%2Fbootstrapstudio.io%2F&amp;layout=button_count&amp;
action=like&amp;size=small" scrolling="no" frameborder="0" allow="encrypted-media" allowtransparency="true" width="100"
                                    height="25"></iframe><button class="btn d-flex align-items-center" type="button"
                                    style="height: 20px;margin-left: 5px;padding: 0 0;">Respostas</button></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>