<a class='link noticia' href="/noticias/pagina-noticia/{{_id}}">
    <div class='noticia noticia-container'>
        <img id='img-noticia' src="{{this.urlToImage}}" alt="imagem noticia">
        <h6 class='noticia-title'>{{this.title}}</h6>
    </div>
</a>