<div style='display: flex; flex-direction: column; justify-content: center; margin-top: 100px'>
  <h1 style='text-align: center'>Ops, parece que nossos servidores estao sobrecarregados...</h1>
  <h3 style='text-align: center'>Por favor tente novamente mais tarde</h3>
  <h6 style='text-align: center; margin-top: 75px'>Erro: {{APImessage}}</h6>
</div>