<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.css">
    <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="/assets/css/article-page.css">
</head>

<body>



    <section style="width: 100%;height: auto;margin-top: 80px;">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="headline text-center">{{article.title}}</h1>
            </div>
        </div>
        <div class="row d-flex flex-row flex-wrap" style='margin-left: 5%; margin-right:5%; height: 100%'>

            <div class='container article-page-container d-flex'>
                <h1>{{article.title}}</h1>
                <hr>
                {{!-- <p>Written by: {{article.author}}</p> --}}
                <p>Summary: {{article.content}}</p>
                <hr>
                <a href="/private/main">Back</a>
            </div>

        </div>
    </section>

</body>

</html>