<!DOCTYPE html>
<html lang="en">



<head>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/assets/css/Navigation-with-Search.css">
  <link rel="stylesheet" href="/assets/css/Navigation-Clean.css">
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/fonts/ionicons.css">
  <link rel="stylesheet" href="/assets/ionicons.min.css">
  <link rel="stylesheet" href="/assets/css/member-area.scss">
  <link rel="stylesheet" href="/assets/css/Header-Blue.css">
  <link rel="stylesheet" href="/assets/css/tabela.css">
  <link rel="stylesheet" href="/assets/css/index.css">

</head>

<body>

  {{>memberNav}}

  <div class="contact-clean">
    <form class="d-flex flex-column flex-grow-0 flex-shrink-0 align-items-center" style='margin-top: 60px'
      action='/private/createArticle' method="post">
      <h2 class="text-center">Poste Um Artigo</h2>
      <div class="form-group"><input type="text" class="form-control" name="title" placeholder="Título"
          style="width: 30vw;min-width: 30vw;" required /></div>
      <div class="form-group" style="display: none;"><input type="text" class="form-control" name="author"
          value="{{userInSession._id}}" style="width: 30vw;min-width: 30vw;" />
      </div>
      <div class="form-group">
        <select name="category" id="category">
          <option value="Geral">--Favor Selecionar Categoria--</option>
          <option value="Ações EUA">Ações EUA</option>
          <option value="Ações BR">Ações BR</option>
          <option value="Renda Fixa">Renda Fixa</option>
          <option value="Fundos Imobiliários">Fundos Imobiliários</option>
          <option value="Criptomoedas">Criptomoedas</option>
          <option value="Política">Política</option>
          <option value="Mercado de Trabalho">Mercado de Trabalho</option>
          <option value="comprar ou vender">Comprar ou Vender</option>
          <option value="Geral">Geral</option>
          <option value="main">Pagina principal (será revisado)</option>
        </select>
      </div>
      <div class="form-group"><input type="text" class="form-control" name="imgPath"
          placeholder="https://rotadaimagem.com" style="width: 30vw;min-width: 30vw;" required /></div>
      <div class="form-group"><textarea class="form-control" name="content" placeholder="Conteúdo" rows="800"
          style="width: 30vw;min-width: 30vw;max-height: 60vh;height: 30vh;" required></textarea></div>
      <div class="form-group"><button class="btn btn-primary" type="submit">Postar</button></div>
    </form>
  </div>

  {{#if msgErr}}
  <div class='d-flex' style='justify-content:center'>
    <h6 style='color: red; text-align: center'>{{msgErr}}</h6>
  </div>
  {{/if}}

  <div class='d-flex' style='justify-content:center'>
    {{#if msgSent}}
    <h6 style='color: rgb(71, 211, 71); text-align: center'>{{msgSent}}</h6>
    {{/if}}
  </div>

  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src='/assets/js/autocomplete.js'></script>
</body>

</html>