.lista-company-infos > li {
  color: black;
  margin-top: 10px;
  height: 10%;
  font-size: 1.2rem;
}

.lista-company-infos>li>span{
    font-weight: 600;
}



table{
  border: none;
  border-radius: 6px;
  margin-bottom:30px;
}

table>tbody>tr>td{
  text-align: center;
}

table>thead>tr>th{
  background-color: rgb(247, 205, 123);
  border-right: 1px solid lightgray;
  color:rgb(155, 107, 20);
  text-align: center;
}


.primeira-coluna{
  background-color:#4e657f;
  border: none;
  border-radius: 5px;
  color: lightgray
}

.segunda-coluna-header,
.terceira-coluna-header,
.quarta-coluna-header,
.quinta-coluna-header,
.sexta-coluna-header{
  background-color: rgba(201,236,168,0.7);
  border-right: 1px solid lightgray;
  color:darkgreen;
}

.setima-coluna-header,
.oitava-coluna-header{
  background-color: rgb(241, 170, 170);
  border-right: 1px solid lightgray;
  color: darkred;
}

.nona-coluna-header,
.decima-coluna-header,
.decimaprimeira-coluna-header,
.decimasegunda-coluna-header{
  background-color: lightblue;
  border-right: 1px solid lightgray;
  color: darkblue;
}

.comment-input{
  border-radius: 1em;
  resize:none;
  margin-top:5px;
  width: 100%;
  height: 100px;
  border: 1px solid lightgray none;
  background-color: #f1f2f3;
  margin-left:5%;
  text-indent: 10px;

}

.comment-input:focus{
  outline: none;
}

.comment-input:active{
  outline: none;
}

.comment-input::placeholder{
  color:#6c757d;opacity:1
}

.comment-input::-webkit-input-placeholder{
  color:#6c757d;opacity:1;
}



